@charset "UTF-8";
.form-switch-input,
.form-switch-label,
.form-line,
.flexForm-input-area,
.flexForm-select-cap,
.flexForm-select-area,
.form-hint,
.flexForm-input-label {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; }

.form-switch,
.form-check,
.form-check-label,
.flexForm-label,
.flexForm-group,
.flexForm-input,
.flexForm-select {
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex; }

.form-switch {
  flex: 0 0 auto;
  align-items: center;
  align-content: center;
  position: relative;
  height: 24px; }
  .form-switch-label {
    width: 44px;
    height: 12px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #BCF8FC; }
    .form-switch-label:after, .form-switch-label:before {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      content: '';
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      transition: 0.1s ease-in-out;
      -webkit-transition: 0.1s ease-in-out;
      background-color: #ffffff;
      top: 0;
      bottom: 0;
      margin: auto; }
    .form-switch-label:after {
      box-shadow: inset 0 0 0 1px rgba(27, 180, 191, 0.7), 0px 2px 6px 0px rgba(0, 0, 0, 0.2); }
  .form-switch-input {
    width: 0;
    height: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha Opacity=0; }
    .form-switch-input:checked + .form-switch-label:after {
      left: 20px;
      box-shadow: inset 0 0 0 1px rgba(226, 30, 97, 0.5), 0px 2px 6px 0px rgba(0, 0, 0, 0.2); }
    .form-switch-input:checked + .form-switch-label:before {
      width: 44px;
      height: 12px;
      background-color: #ffd7e5; }

.form-check-label {
  position: relative;
  align-items: center;
  line-height: 16px;
  text-align: left;
  cursor: pointer; }
  .form-check-label:before {
    content: '';
    align-self: center;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    padding: 2px;
    text-align: center;
    border: 2px solid #cccccc; }
  .form-check-label:empty:before {
    margin: 0; }
  .form-check-label:after {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: absolute;
    top: -4px;
    left: 4px;
    bottom: 0;
    width: 13px;
    height: 7px;
    margin: auto;
    border: solid #ffffff;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg); }
  .form-check-label:hover:before {
    border-color: #999999; }

.form-check-area {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha Opacity=0; }

.form-check.typeError .form-check-label:before {
  border-color: #ff5b32; }

.form-check-area:checked + .form-check-label:before {
  border-color: #29cc65;
  background-color: #29cc65; }

.form-check-area:disabled + .form-check-label {
  font-weight: 300;
  color: #999999;
  cursor: default; }
  .form-check-area:disabled + .form-check-label:before {
    border-width: 1px;
    border-color: #cccccc !important; }

.form-check-area[type="checkbox"] + .form-check-label:before {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.form-check-area[type="checkbox"]:checked + .form-check-label:after {
  content: ''; }

.form-check-area[type="radio"] + .form-check-label:before {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.form-check-area[type="radio"]:checked + .form-check-label:before {
  box-shadow: inset 0 0 0 3px #ffffff; }

*[id^="__lpform"] {
  display: none !important; }

.form-line {
  flex: 1 0 auto; }
  .form-line > *:not(:first-child) {
    margin: 0 0 0 20px; }
  .form-line .flexForm-label,
  .form-line .flexForm-input-area,
  .form-line .flexForm-select-area {
    height: 40px; }
  .form-line .form-check {
    min-height: 40px; }

.flexForm-label {
  align-self: flex-start;
  align-items: center;
  line-height: 16px;
  padding: 0 0 2px;
  font-size: 0.94118em;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #b3b3b3; }

.flexForm-group {
  flex: 1 1 100%; }

.flexForm-input,
.flexForm-select {
  flex: 1 1 auto;
  position: relative; }
  .flexForm-input:not(.typeError):hover > .flexForm-input-area:not([disabled]),
  .flexForm-input:not(.typeError):hover > .flexForm-select-area:not([disabled]),
  .flexForm-select:not(.typeError):hover > .flexForm-input-area:not([disabled]),
  .flexForm-select:not(.typeError):hover > .flexForm-select-area:not([disabled]) {
    box-shadow: inset 0 0 0 1px #999999;
    -moz-box-shadow: inset 0 0 0 1px #999999;
    -webkit-box-shadow: inset 0 0 0 1px #999999; }

.flexForm-input-area,
.flexForm-select-area {
  width: 100%;
  line-height: 38px;
  padding: 0 10px 3px;
  font-size: 1.17647em;
  border: none;
  box-shadow: inset 0 0 0 1px #b3b3b3;
  -moz-box-shadow: inset 0 0 0 1px #b3b3b3;
  -webkit-box-shadow: inset 0 0 0 1px #b3b3b3;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff; }
  .flexForm-input-area::placeholder,
  .flexForm-select-area::placeholder {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #b3b3b3; }
  .flexForm-input-area:-moz-placeholder,
  .flexForm-select-area:-moz-placeholder {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #b3b3b3; }
  .flexForm-input-area::-moz-placeholder,
  .flexForm-select-area::-moz-placeholder {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #b3b3b3; }
  .flexForm-input-area:-ms-input-placeholder,
  .flexForm-select-area:-ms-input-placeholder {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #b3b3b3; }
  .flexForm-input-area::-webkit-input-placeholder,
  .flexForm-select-area::-webkit-input-placeholder {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #b3b3b3; }
  .flexForm-input-area[disabled],
  .flexForm-select-area[disabled] {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-weight: 300;
    box-shadow: inset 0 0 0 1px #b3b3b3;
    -moz-box-shadow: inset 0 0 0 1px #b3b3b3;
    -webkit-box-shadow: inset 0 0 0 1px #b3b3b3;
    background-color: #f5f5f5;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #999999;
    cursor: default; }
    .flexForm-input-area[disabled]::-ms-value,
    .flexForm-select-area[disabled]::-ms-value {
      color: #000000; }
  .flexForm-input-area:focus,
  .flexForm-select-area:focus {
    box-shadow: inset 0 0 0 1px #31c1cc, 0 0 0 2px #ddfdff !important;
    -moz-box-shadow: inset 0 0 0 1px #31c1cc, 0 0 0 2px #ddfdff !important;
    -webkit-box-shadow: inset 0 0 0 1px #31c1cc, 0 0 0 2px #ddfdff !important; }

.flexForm-input-area::-ms-clear, .flexForm-input-area::-ms-reveal {
  display: none; }

.flexForm-input-area:not([value=""]):not([disabled]), .flexForm-input-area:not(:placeholder-shown):not([disabled]) {
  box-shadow: inset 0 0 0 1px #cccccc;
  -moz-box-shadow: inset 0 0 0 1px #cccccc;
  -webkit-box-shadow: inset 0 0 0 1px #cccccc; }

.flexForm-select-cap {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer; }

.flexForm-select-area {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: calc(100% - 10px), center left;
  background-image: url("../img/cap/form/form—triangle.svg");
  cursor: pointer; }
  .flexForm-select-area:valid {
    box-shadow: inset 0 0 0 1px #cccccc;
    -moz-box-shadow: inset 0 0 0 1px #cccccc;
    -webkit-box-shadow: inset 0 0 0 1px #cccccc; }
  .flexForm-select-area:invalid {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #b3b3b3; }
  .flexForm-select-area::-ms-expand {
    display: none; }

.form-hint {
  justify-content: center;
  text-align: center;
  font-size: 0.94118em;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #7f7f7f; }

.flexForm-input-label {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 28px;
  padding: 0 0 0 10px;
  font-size: 0.76471em;
  font-weight: 600;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #b3b3b3; }
  .flexForm-input-label:not(:empty) + .flexForm-input-area {
    height: 55px;
    padding-bottom: 17px; }

.form-line {
  min-height: 40px;
  margin: 0 0 10px; }
  .form-line.typeSmall {
    min-height: 34px; }
    .form-line.typeSmall .flexForm-label,
    .form-line.typeSmall .flexForm-input-area,
    .form-line.typeSmall .flexForm-select-area {
      height: 34px;
      line-height: 32px;
      font-size: 0.94118em; }
    .form-line.typeSmall .form-check {
      min-height: 34px; }
  .form-line.typeBlur .form-check-area:not(:checked) + .form-check-label {
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha Opacity=40; }

.flexForm-group.typeMulty {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flexForm-group.typeColumn {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column; }

.flexForm-group.typeColumn > *:not(:last-child):not(.form-check) {
  margin: 0 0 10px 0; }

.flexForm-group:not(.typeColumn) > *:not(:last-child) {
  margin: 0 20px 0 0; }

.flexForm-group:not(.typeColumn) > .form-check:first-child {
  margin-left: 10px; }

.flexForm-group.typeDate > *:not(:last-child) {
  margin: 0 10px 0 0; }

.flexForm-input.typeTel .flexForm-input-area {
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px; }

.flexForm-input.typeIcon .flexForm-input-area {
  padding-right: 30px; }

.flexForm-select.typeCal > .flexForm-select-area {
  font-weight: 400;
  box-shadow: inset 0 0 0 1px #cccccc;
  -moz-box-shadow: inset 0 0 0 1px #cccccc;
  -webkit-box-shadow: inset 0 0 0 1px #cccccc;
  background-image: url("../img/cap/form/form—cal.svg");
  background-color: #ffffff;
  color: #000000; }

.flexForm-select.typeCal .flexForm-select-cap:hover + .flexForm-select-area {
  box-shadow: inset 0 0 0 1px #999999;
  -moz-box-shadow: inset 0 0 0 1px #999999;
  -webkit-box-shadow: inset 0 0 0 1px #999999; }

.flexForm-select.typeCal + .flexForm-select.typeCal {
  margin-left: 15px; }
  .flexForm-select.typeCal + .flexForm-select.typeCal:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25px;
    width: 15px;
    height: 1px;
    margin: auto;
    background-color: #b3b3b3; }

.flexForm-input.typeError .flexForm-input-area,
.flexForm-input.typeError .flexForm-select-area,
.flexForm-select.typeError .flexForm-input-area,
.flexForm-select.typeError .flexForm-select-area {
  box-shadow: inset 0 0 0 1px #ff5b32;
  -moz-box-shadow: inset 0 0 0 1px #ff5b32;
  -webkit-box-shadow: inset 0 0 0 1px #ff5b32; }

.flexForm-input.typeCenter .flexForm-input-area,
.flexForm-input.typeCenter .flexForm-select-area,
.flexForm-select.typeCenter .flexForm-input-area,
.flexForm-select.typeCenter .flexForm-select-area {
  text-align: center; }

.form-hint.-sectReg {
  margin: 0 0 25px 35px;
  text-align: left;
  font-size: 0.82353em; }

.btn-group {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; }

.btn-big,
.btn-base,
.btn-small {
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex; }

.btn-group {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center; }

.btn-big,
.btn-base,
.btn-small {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer; }
  .btn-big:active,
  .btn-base:active,
  .btn-small:active {
    top: 1px; }
  .btn-big:after,
  .btn-base:after,
  .btn-small:after {
    z-index: 1;
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border: 2px solid transparent; }
  .btn-big.btn-wide,
  .btn-base.btn-wide,
  .btn-small.btn-wide {
    width: 100%; }
  .btn-big.flexCenter,
  .btn-base.flexCenter,
  .btn-small.flexCenter {
    align-self: center; }
  .btn-big.itemNonActive,
  .btn-base.itemNonActive,
  .btn-small.itemNonActive {
    cursor: default; }
    .btn-big.itemNonActive .btn-value,
    .btn-base.itemNonActive .btn-value,
    .btn-small.itemNonActive .btn-value {
      opacity: 0.6;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha Opacity=60; }
    .btn-big.itemNonActive:hover:after,
    .btn-base.itemNonActive:hover:after,
    .btn-small.itemNonActive:hover:after {
      display: none; }
  .btn-big i:not(.ic-loader),
  .btn-base i:not(.ic-loader),
  .btn-small i:not(.ic-loader) {
    order: -1;
    opacity: 0.6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha Opacity=60;
    margin: 0 10px 0 0; }
  .btn-big:hover i:not(.ic-loader),
  .btn-base:hover i:not(.ic-loader),
  .btn-small:hover i:not(.ic-loader) {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha Opacity=100; }

.btn-value {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  padding: 0 0 2px;
  white-space: nowrap; }

.btn-group .btn-big,
.btn-group .btn-base,
.btn-group .btn-small {
  margin-right: 5px;
  margin-left: 5px; }

.btn-group > *:first-child {
  margin-left: 0; }

.btn-group > *:last-child {
  margin-right: 0; }

.btn-small {
  /* NOT BASE-HEIGHT BECAUSE OF IE */
  height: 34px;
  line-height: 32px;
  padding: 0 18px;
  border-radius: 34px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  font-size: 0.94118em !important; }

.btn-base {
  /* NOT MIN-HEIGHT BECAUSE OF IE */
  height: 40px;
  line-height: 38px;
  padding: 0 25px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  font-size: 1.17647em !important; }

.btn-big {
  /* NOT MIN-HEIGHT BECAUSE OF IE */
  height: 50px;
  line-height: 48px;
  min-width: 300px;
  max-width: 420px;
  padding: 0 40px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 1.29412em !important; }

.btn-big.btn-gray-f {
  padding: 0 60px; }

.btn-green {
  border: 1px solid #29cc65;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #29cc65; }
  .btn-green:hover {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #13bf52; }
    .btn-green:hover:after {
      display: block;
      border-color: #13bf52; }

.btn-green-f {
  background-color: #29cc65;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff; }
  .btn-green-f:hover {
    background-color: #13bf52; }
  .btn-green-f.itemNonActive:hover {
    background-color: #29cc65; }

.btn-red {
  border: 1px solid #ff5b32;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ff5b32; }
  .btn-red:hover {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #f24e24; }
    .btn-red:hover:after {
      display: block;
      border-color: #f24e24; }

.btn-red-f {
  background-color: #ff5b32;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff; }
  .btn-red-f:hover {
    background-color: #f24e24; }
  .btn-red-f.itemNonActive:hover {
    background-color: #ff5b32; }

.btn-sky {
  border: 1px solid #31c1cc;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #31c1cc; }
  .btn-sky:hover {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #1bb4bf; }
    .btn-sky:hover:after {
      display: block;
      border-color: #1bb4bf; }

.btn-sky-f {
  background-color: #ddfdff;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #31c1cc; }
  .btn-sky-f:hover {
    background-color: #c8f7fa;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #1bb4bf; }
  .btn-sky-f.itemNonActive:hover {
    background-color: #ddfdff; }

.btn-white {
  border: 1px solid #ffffff;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff; }
  .btn-white:hover:after {
    display: block;
    border-color: #ffffff; }

.btn-gray-f {
  border-color: transparent;
  background-color: #cccccc;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  cursor: default; }
  .btn-gray-f:hover {
    border-color: transparent;
    background-color: #cccccc; }
    .btn-gray-f:hover:after {
      display: none; }

.btn-base.btn-gray-f .btn-value,
.btn-small.btn-gray-f .btn-value {
  z-index: -1;
  color: transparent; }

.btn-small.-sectReg {
  align-self: flex-start;
  margin: 0 0 10px; }

.btn-small.-sectGallery {
  margin: 0 0 0 -7px; }

.btn-group.-subSectSidebarPopover {
  width: 100%;
  margin: 10px 0 5px; }
  .btn-group.-subSectSidebarPopover .btn-small {
    padding: 0 14px; }
