@-webkit-keyframes spin {
  100% {
    transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -ms-transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -webkit-transform: translate3d(0, 0, 1000px) rotateY(360deg); } }

@-moz-keyframes spin {
  100% {
    transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -ms-transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -webkit-transform: translate3d(0, 0, 1000px) rotateY(360deg); } }

@-ms-keyframes spin {
  100% {
    transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -ms-transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -webkit-transform: translate3d(0, 0, 1000px) rotateY(360deg); } }

@-o-keyframes spin {
  100% {
    transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -ms-transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -webkit-transform: translate3d(0, 0, 1000px) rotateY(360deg); } }

@keyframes spin {
  100% {
    transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -ms-transform: translate3d(0, 0, 1000px) rotateY(360deg);
    -webkit-transform: translate3d(0, 0, 1000px) rotateY(360deg); } }

.auth___integration-wrap *,
.auth___integration-wrap *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }
  .auth___integration-wrap *:focus,
  .auth___integration-wrap *:after:focus {
    outline: none; }

.auth___integration-wrap *:after {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; }

.auth___integration-wrap ul {
  list-style: none; }

.auth___integration-wrap li {
  background: none; }

[role="button"] {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  min-width: 1000px;
  font-size: 1em;
  font-weight: 400; }
  body.itemNonScrollable {
    overflow: hidden; }

.auth-desc,
.auth-login,
.auth-lastVisit {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; }

.auth-social-desc,
.auth-social-member,
.auth-login-desc {
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex; }

.auth-desc,
.auth-social-desc,
.auth-lastVisit,
.auth-login-desc {
  font-weight: 300; }

.auth-desc {
  line-height: 28px;
  margin: 0 0 30px;
  text-align: center;
  font-size: 1.125em; }
  .auth-desc.itemNonActive {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #999999; }

.auth-social-desc {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  line-height: 24px;
  margin: -25px 0 25px;
  font-size: 1.125em; }

.auth-social-member {
  margin: 0 5px; }
  .auth-social-member.typeSocialAuthFB {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #3a5897; }
  .auth-social-member.typeSocialAuthGOO {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #dd4a35; }
  .auth-social-member.typeSocialAuthML {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #164889; }
  .auth-social-member.typeSocialAuthODN {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #ec7f27; }
  .auth-social-member.typeSocialAuthVK {
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #4b739b; }

.auth-lastVisit {
  text-align: center;
  font-size: 1.125em;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #999999; }

.auth-login {
  align-items: center;
  margin: 0 0 30px;
  padding: 30px 40px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 1em;
  border: 1px solid #e6e6e6; }

.auth-login-desc {
  max-width: 400px;
  padding: 0 30px 0 0;
  text-align: left; }

.ic-close {
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  margin: auto;
  background-size: cover; }
  .ic-close.size20 {
    width: 20px;
    height: 20px;
    background-position: 0px 0px; }
    .ic-close.size20:hover {
      background-position: 0px -20px; }

.modal-wrap,
.modal,
.modal-title {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; }

.modal {
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  align-content: center;
  z-index: 9998;
  min-width: 380px;
  margin: auto;
  padding: 0 30px 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 24px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 24px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 24px 0;
  background-color: #ffffff; }
  .modal-wrap {
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 9998;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-overflow-scrolling: touch; }
  .modal-title {
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    width: calc(100% + 60px);
    height: 50px;
    margin: 0 -30px 25px;
    padding: 0 0 3px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-size: 1.25em;
    font-weight: 300;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    background-color: #f7f7f7;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #999999; }

.btn-base,
.btn-big {
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex; }

.btn-base,
.btn-big {
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer; }
  .btn-base:active,
  .btn-big:active {
    top: 1px; }
  .btn-base:after,
  .btn-big:after {
    z-index: 1;
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border: 2px solid transparent; }

.btn-value {
  display: inline-block;
  padding: 0 0 2px; }

.btn-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn-base {
  /* NOT MIN-HEIGHT BECAUSE OF IE */
  height: 40px;
  line-height: 36px;
  padding: 0 25px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  font-size: 1.25em !important; }

.btn-big {
  /* NOT MIN-HEIGHT BECAUSE OF IE */
  height: 50px;
  min-width: 300px;
  max-width: 420px;
  padding: 0 40px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 1.375em !important; }

.btn-gray-f {
  background-color: #cccccc;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  cursor: default; }

.btn-green-f {
  background-color: #29cc65;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff; }
  .btn-green-f:hover {
    background-color: #13bf52; }

.btn-big.btn-gray-f {
  padding: 0 60px; }
